.container{
    width: 100%;
    height: 100%;
}

.formContainer{
    width: 30%;
    margin: 20px auto;
}

.fields{
    margin: 15px;
}

.field{
    width: 500px;
}

.buttons{
    display: flex;
    justify-content: end;
    align-items: end;
}

button{
    margin: 10px;
    width: 100px;
}